<footer>
    <div class="divider">
		<img src="img/divider.png">
    </div>
    <p class="legal">No Purchase Necessary. Contest closes May 9th 2016, at 9:59am, ET. To win you must correctly answer a mathematical skill testing question. 5 grand prizes are available to be won. Approximate retail value of Grand Prize is $3000 CAD. Prize winners will be determined by a random draw. Odds of winning depend on number of eligible entries received. Full contest rules available at <a href="http://wnetwork.com" target="_blank">Wnetwork.com</a></p>
    <div class="logos">
    	<img src="img/footer-logo-dyson.png" alt="">
    	<img src="img/footer-logo-w.png" alt="">
    </div>
</footer>
