<footer>
    <div class="divider">
		<img src="img/divider.png">
    </div>
    <p class="legal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut odio ex, malesuada et maximus lobortis, dapibus sit amet nisl.<br>Vivamus dolor dui, cursus sollicitudin urna vitae, varius tempor lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    <div class="logos">
    	<img src="img/footer-logo-dyson.png" alt="">
    	<img src="img/footer-logo-w.png" alt="">
    </div>
</footer>
