<header>
	<div class="top">
		<ul class="social">
			<li><a href="https://www.facebook.com/dyson/" target="_blank"><img src="img/icon-facebook-white.png" alt=""></a></li>
			<li><a href="https://twitter.com/dyson" target="_blank"><img src="img/icon-twitter-white.png" alt=""></a></li>
			<li><a href="https://www.youtube.com/user/DysonCanadaLtd" target="_blank"><img src="img/icon-youtube-white.png" alt=""></a></li>
		</ul>
		<div class="header"><img src="img/header.png" alt="dyson at your door contest"></div>
	</div>
	<div class="bottom">
		<ul class="menu">
			<li><a class="nav-button" data-link="default" href="default.aspx">Main</a></li>
			<li><a class="nav-button" data-link="products" href="products.aspx">Products</a></li>
			<li><a class="nav-button" data-link="blog" href="blog.aspx">Blog</a></li>
			<li><a class="nav-button" data-link="rules" href="rules.pdf">Rules</a></li>
			<li><a class="nav-button" data-link="enter" href="enter.aspx">Enter</a></li>
		</ul>
	</div>
</header>
