<header>
	<div class="top">
		<ul class="social">
			<li><a href="#"><img src="img/icon-facebook.png" alt=""></a></li>
			<li><a href="#"><img src="img/icon-twitter.png" alt=""></a></li>
		</ul>
		<div class="header"><img src="img/header.png" alt="dyson at your door contest"></div>
	</div>
	<div class="bottom">
		<ul class="menu">
			<li><a class="nav-button" href="default.aspx">Main</a></li>
			<li><a class="nav-button" href="products.aspx">Products</a></li>
			<li><a class="nav-button" href="blog.aspx">Blog</a></li>
			<li><a class="nav-button" href="rules.pdf">Rules</a></li>
			<li><a class="nav-button" href="enter.aspx">Enter</a></li>
		</ul>
	</div>
</header>
