@font-face {
	font-family: 'futura-medium';
	src: url('../fonts/Futura-Medium.eot');
	src: url('../fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Futura-Medium.woff') format('woff'),
		url('../fonts/Futura-Medium.ttf') format('truetype'),
		url('../fonts/Futura-Medium.svg#Futura-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'futura';
	src: url('../fonts/FuturaTOT-Book.eot');
	src: url('../fonts/FuturaTOT-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaTOT-Book.woff') format('woff'),
		url('../fonts/FuturaTOT-Book.ttf') format('truetype'),
		url('../fonts/FuturaTOT-Book.svg#FuturaTOT-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
