footer {
	text-align: center;
	padding-bottom: 50px;
	.legal {
		font-size: 0.8rem;
		font-family: "Arial", sans-serif;
		margin: 20px 0;
	}
	.logos {
		a {
			&:first-child {
				img {
					border-right: 2px solid #adadad;
				}
			}
		}
		img {
			padding: 0 32px;
		}
	}
}